# Created by .ignore support plugin (hsz.mobi)
/android/build/
/android/.idea/
/android/gradle/
/android/android.iml
/android/gradlew.bat
/android/gradlew
/android/local.properties
/android/nativemoduleumeng.iml
/android/react-native-puti-umeng-share.iml
